body{
    margin:0px;
    font-family: "Montserrat"; 
}
.switch{
    display:none
}

#women{margin-top:200px}

@media (min-width:847px) {
    #mountain,#women{display:block !important;}
    
}
#nav{
    display:flex;
   position: sticky;
   top:0;
    
    background:rgb(217 217 217) ;
  }
  
  
  .tab{
    background-color: rgb(217 217 217);
    display: flex;
    width:267px;
    height:73px;
   font-size: 22px;
   line-height: 33px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-family: "Montserrat";
    border-top-left-radius:20px;
    border-top-right-radius:20px;
  }
  
  a{color:black;text-decoration: none;}
  
  .tab:hover{
    background-color: white;
  }
  img{
    width:358px;
    height:232px;
    margin-top:40px;
  }
  .imageteg{
    display:flex;
   
  }
  .h1{
    margin-left: 71px;
    width:50%;
   font-size: 26px;

    font-family: "Montserrat";
    font-weight: 700;
    
  }
  .h1 p{font-weight: 400;font-size: 16px;
  line-height: 24px;
  font-family: "Montserrat";
  }
  hr{width:90%}
  .ul{margin-left: 37px;}
  .ul p{margin-left: 22px;font-size: 18px;font-weight: 500;}
  ol{ columns: 2;
  width: 70%;
  
  }
  
  ol.li{
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
  }
  .olmount li{
    line-height: 50px!important
  }
  .olwomen{
   
        counter-reset: item;
        list-style-type: none;
     
  }
li img{
    height: 14px;
    width: 14px;
}


  .bottom{
    margin-left: 60px;
    
  }
  h3{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }
  input{
    width:351px;
    height:52px;
    padding-left: 16px;
    border-radius: 16px;
    border: 1px solid rgba(217, 217, 217, 1) ;
  }
  .add{background: rgb(57 34 197);
  width:128px;
  height:52px;
  border-radius: 16px;
  margin-left: 24px;
  border:none;
  font-weight: 400;
  font-size: 16px;
  color:white;
  
  }
  .shadow{
    margin-top: 40px;
    margin-bottom: 40px;
    width:726px;
    height:112px;
    border-radius: 20px;
    box-shadow: 0px 10px 40px 0px rgba(12, 12, 12, 0.1);
    display:flex;
    align-items: center;
  
  }
  
  .ok{
    margin-left:36px;
    width:92px;
    height:52px;
    border-radius:16px ;
    background: rgb(57 34 197);
    color:white;
    border: none;
    font-weight: 400;
    font-size: 16px;
  
  }
  .cancel{
    
    width:92px;
    height:52px;
    border-radius:16px ;
    background: white;
    font-weight: 400;
    font-size: 16px;
    border: none;
    cursor: hand;
  }
  .cancel:hover{
    background: black;
    color:white;

  }
  @media(max-width:846px){
    #mountain{display:block}
#women{display:none;margin-top: 10px;}
.switch{display:flex;
   
    
width:100%;
height: 73px;
justify-content:space-between;
align-items:center;
font-size: 20px;
font-weight: 500;

border-radius: 20px 20px 0px 0px;

}

    .imgmountain{
      margin-left: 5%;
      margin-right: 5%;
      width:90%;
      height:auto;
      content:url('https://sergioignatev.github.io/gitImages/bicicle3.png')}

      #imgwomen{content:url('https://sergioignatev.github.io/gitImages/bicicle4.png')}
        
       
    .tab{display: none;}
    .imageteg{flex-direction: column;}
    .h1{width:90%;
    margin-left:5%;
    margin-right: 5%;
    font-size:26px ;
    }
    .h1 p{
        font-size:14px ;
    }
    ol{
      margin-left: 0%;
      columns: 1;
    }
    .ul{margin-left:0%;}
    .ul p{font-size: 16px;
   
    }
    .ul li{
font-size: 14px;
line-height: 21px;

    }
    .bottom{margin-left: 5%;
    margin-right:5%;}
    input{
      width:95%;
    
    }
    .add{width:100%;margin-left: 0px;
    margin-top: 15px;
font-size: 14px;
}
.cancel{font-size: 14px;width:100%;margin-right: 20px;}
.ok{font-size: 14px;margin-left: 20px;width:100%;}
    .shadow{
      width:100%;
      display:flex;
      justify-content: center;
      align-items: center;
    }
  }